html {
  font-family: sans-serif;
}

#content {
  padding-left: 160px;
}

#menu {
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  background: #1c1c1c;
}

#menu .menu-heading {
  color: #fff;
  background: #1f8dd6;
  text-decoration: none;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 5%;
}

#menu .menu-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

#menu .menu-link {
  color: #cdcdcd;
  text-decoration: none;
  display: block;
  padding-top: 5%;
  padding-bottom: 5%;
  padding-left: 10%;
}

#menu .menu-link:hover,
.menu-selected {
  background: #3d3d3d;
}
