<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>СМ МолоКод</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.png">
</head>
<body>
<div id="layout">
    <div id="menu">
        <div class="menu">
            <a class="menu-heading" href="/"><img class="img-responsive" src="/static/img/dm-logo.png"> СМ МолоКод</a>
            <ul class="menu-list">
                <li class="menu-item {{if eq .Uri "/manufacturing"}} menu-selected {{end}}">    <a href="/manufacturing" class="menu-link">Производство</a></li>
                <li class="menu-item {{if eq .Uri "/goods"}} menu-selected {{end}}">            <a href="/goods"  class="menu-link">Номенклатура</a></li>
                <li class="menu-item {{if eq .Uri "/arm"}} menu-selected {{end}}">              <a href="/arm"           class="menu-link">АРМ</a></li>
                <li class="menu-item {{if eq .Uri "/settings"}} menu-selected {{end}}">         <a href="/settings"      class="menu-link">Настройки</a></li>
                <li class="menu-item {{if eq .Uri "/help"}} menu-selected {{end}}">             <a href="/help"          class="menu-link">Помощь</a></li>
            </ul>
        </div>
    </div>

    <div id="main">
        <div class="content">
            {{.Content}}
        </div>
    </div>
</div>

<!-- <script src="/static/js/ui.js"></script> -->

</body>
</html>